<div class="container" id="divs" style="margin-top: 8%;justify-content: center">
  <div class="row">
    <div *ngFor="let order of orders" class="card" style="width: 18rem;">
      <img *ngIf="order.product" [src]=" order.product.imageUrl " class="card-img-top" alt="Card image cap" style="width: 60px">
      <div class="card-body">
        <h5 class="card-title" *ngIf="order.product" >{{ order.product.name }}</h5>
        <p class="card-text">{{ order.orderPrice }} $</p>
        <p class="card-text">{{ order.orderQuantity }}</p>
      </div>
    </div>
  </div>
  <br>
  <div style="display: flex; justify-content: center">
    <button (click)="prev()" class="btn btn-success">Prev
    </button>
    <button (click)="next()" class="btn btn-success" style="margin-left: 10px">Next
    </button>
  </div>
</div>
<br>


