<nav class="navbar navbar-expand-sm bg-black navbar-dark">
  <a class="navbar-brand" routerLink="">ONLINE SHOP</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
          aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto" style="margin-left: 35%">
      <li class="nav-item active">
        <a class="nav-link" routerLink="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="orders" *ngIf="token != null">My Orders</a>
      </li>

        <li class="nav-item">
          <a class="btn btn-warning"  routerLink="login" style="margin-left: 750px" *ngIf="token == null">Login</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning" routerLink="register" style="margin-left: 20px" *ngIf="token == null">Register</a>
        </li>
      <li class="nav-item">
          <a class="btn btn-warning" (click)="logout()" style="margin-left: 800px" *ngIf="token != null">Logout</a>
        </li>
    </ul>
  </div>

</nav>
<router-outlet></router-outlet>
