<div class="container h-100" style="margin-top: 100px">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
      <div class="card text-black" style="border-radius: 25px;">
        <div class="card-body p-md-5">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

              <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>
              <span *ngIf="msg">
                  <div class="alert alert-danger alert-dismissible">
                    <strong>{{ msg }}</strong>
                  </div>
                </span>

              <form class="mx-1 mx-md-4" (ngSubmit)="saveUser()" #userForm="ngForm">

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      [(ngModel)]="user.name"
                      name="name"
                      #name="ngModel"
                      [ngClass]="{'is-invalid': name.invalid && (name.dirty || name.touched)}"
                      required/>
                    <label class="form-label">Your Name</label>
                    <div *ngIf="name.invalid && (name.dirty || name.touched)" class="invalid-feedback">
                      Name is required.
                    </div>
                  </div>
                </div>

                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                  <div data-mdb-input-init class="form-outline flex-fill mb-0">
                    <input
                      type="text"
                      id="surname"
                      class="form-control"
                      [(ngModel)]="user.surname"
                      name="surname"
                      #surname="ngModel"
                      [ngClass]="{'is-invalid': surname.invalid && (surname.dirty || surname.touched)}"
                      required/>
                    <label class="form-label">Your Surname</label>
                    <div *ngIf="surname.invalid && (surname.dirty || surname.touched)" class="invalid-feedback">
                      Surname is required.
                    </div>
                  </div>
                </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input
                        type="email"
                        id="email"
                        class="form-control"
                        [(ngModel)]="user.email"
                        name="email"
                        #email="ngModel"
                        [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}"
                        required email/>
                      <label class="form-label">Your Email</label>
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                        Valid email is required.
                      </div>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div data-mdb-input-init class="form-outline flex-fill mb-0">
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        [(ngModel)]="user.password"
                        name="password"
                        #password="ngModel"
                        [ngClass]="{'is-invalid': password.invalid && (password.dirty || password.touched)}"
                        required minlength="6"/>
                      <label class="form-label">Password</label>
                      <div *ngIf="password.invalid && (password.dirty || password.touched)" class="invalid-feedback">
                        Password is required and must be at least 6 characters.
                      </div>
                    </div>
                  </div>


                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <button
                      type="submit"
                      data-mdb-button-init
                      data-mdb-ripple-init
                      class="btn btn-primary btn-lg"
                      [disabled]="userForm.invalid">
                      Register
                    </button>
                  </div>

              </form>

            </div>
            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

              <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                   class="img-fluid" alt="Sample image">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
